[Desktop Entry]
Name=Shaun shaun
Exec=/home/ber/Code/BASH-scripts-an-stuffalike/ShaunShaun.sh
Type=Application
Encoding=UTF-8
Version=1.0
Icon=/home/ber/Code/BASH-scripts-an-stuffalike/ShaunShaun.png
Terminal=false
